* {
  font-size: 10px;
  font-family: "Ubuntu", sans-serif;
}


.main-contain {
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 260rem;
  margin: auto;
}

h1
{
  color:white;
  display: flex;  
  position: fixed;
  right: 20%;
  top : -6.8%;
  font-size: 1.8em;
}

button {
  border: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.95);
  cursor: pointer;
}

.div {
  color:white;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: right;
  position: relative;
  max-width: 1200px;
  margin: auto;
}

.psuedo-text {
  color: #5533ff;
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  display: inline;
  height: auto;
  font-size: 1.7rem;
  font-size: 700;
  transition: 0.25s ease-in;
  transition-delay: 0.1s;
}

.flex-1 {
  flex: 1;
  min-width: 50px;
  margin: 0 auto 50px;
}

.button {
  padding: 2rem 7rem;
  background: white;
  text-align: center;
  display: inline-block;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  will-change: transform;
}

.btn-1 {
  letter-spacing: 0.05rem;
  transition: 0.5s all ease-in-out;
  position: relative;
  background: transparent;
}
.btn-1:before {
  border-top: 0.3rem solid white;
  border-bottom: 0.3rem solid white;
  display: block;
  position: absolute;
  background: transparent;
  content: "";
  top: 0;
  bottom: 0;
  left: 100%;
  right: 100%;
  transition: 0.48s all ease-in-out;
}
.btn-1:hover {
  letter-spacing: 0.4rem;
}
.btn-1:hover:before {
  left: 20%;
  right: 20%;
}
